/target
/conf.json
/sonicbotdata
/releases
/result
/Cargo.lock
/src/conf.json
/release.sh
/linewrapper/Cargo.lock
/storage.db
/linewrapper/target
/sonicobject/target
/sonicobject/Cargo.lock
/sonicobject/test.db
/sonicmacros/target
/sonicmacros/Cargo.lock
/sftp.json
